<div class="row">
  <div class="col-5">
    <div class="me-2 ">
      <div class="mx-auto" style="max-width: 350px;">
        <img src="{{user.image}}" class="img-fluid rounded-circle" style="width: 100%; aspect-ratio: 1/1;" alt="頭像">
      </div>
      <div class="text-center mt-3">
        <h2 class="fw-bold">{{user.name}}</h2>
        <p class="my-2">{{user.email}}</p>
        <a class="btn btn-outline-danger" href="/users/{{user.id}}/edit" role="button">修改個人資料及帳密</a>
      </div>
    </div>
  </div>
  <div class="col-7">
    {{!-- 尚未評價過的商品 --}}
  </div>